<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login App</title>
</head>


<body>
    <div>
        <form action="">
            <p>Login</p>
            <input type="text" placeholder="Votre Identifiant" [(ngModel)]="userByInput" ><br>
            <input type="text" placeholder="VOtre mot de passe"  [(ngModel)]="passwordByInput" type="password" ><br>
            <button type="submit" (click)="getAllUser()" >Se connecter</button>
        </form>
    </div>
</body>
</html>